---
id: {{ id }}
{% if slug %}
slug: {{ slug }}
{% endif %}
status: {{ status }}
{% if order is not none %}
order: {{ order }}
{% endif %}
---

# {{ title }}
{% if description %}

{{ description }}
{% endif %}
{% if subtasks %}

## Subtasks

{% for subtask in subtasks %}
{% if not subtask.deleted %}
{{ subtask | subtask_line }}
{% endif %}
{% endfor %}
{% endif %}
